<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/formslogin.css" />
         <link rel="stylesheet" href="./stylesheets/formsadmin.css">
</head>

<body>
    <header>
        <% if (typeof user != 'undefined') { %>
            <%- include('./partials/nav', { user: user }) %>
        <% } else { %>
            <%- include('./partials/nav', { user: false }) %>
        <% } %>
    </header>
    <main>
        <section>
            <div class="wrapper-admin">
                <div class="container">
                    <form action="/product" method="POST" enctype="multipart/form-data" class="form addproduct" autocomplete="off">
                        <h3>Agregar producto</h3>
                        <div class="form-item grupo__productName">
                            <label for="product-name">Nombre producto</label>
                            <input type="text" name="productName" class="is-input" placeholder="Nombre producto" id="productName" autocomplete="off" required>
                            <small id="input-error-productName" class="input-error" style="display: none; color: red">Campo Obligatorio, minimo 2 caracteres</small>
                        </div>
                        
                        <div class="form-item addproduct-description grupo__description">
                            <label for="description">Descripción</label>
                            <input type="text" name="description" class="is-input" placeholder="Descripción producto" id="description">
                            <small id="input-error-description" class="input-error" style="display: none; color: red">Campo Obligatorio, minimo 2 caracteres.</small>
                        </div>
                        <div class="form-item addproduct-image">
                            <div class="custom-file">
                                <label class="custom-file-label" for="customFileLang">Imagen</label>
                                <input type="file" name="addimages" class="is-input" accept=".jpg , .png" id="addimages" required style="display: block;">
                            </div>
                        </div>

                        <div class="form-item addproduct-stock">
                            <div class="custom-file grupo__stock" >
                                <label class="custom-file-label" for="customFileLang">Stock</label>
                                <input type="number" name="stock" min="1" max="999" class="is-input" id="stock" required>
                                <small id="input-error-stock" class="input-error" style="display: none; color: red">Campo Obligatorio, mininimo 1 maximo 999.</small>
                            </div>
                        </div>


                        
                        <div>
                            <label for="category">Categoría</label>
                            <input type="radio" name="category" value="1" checked>Donas
                            <input type="radio" name="category" value="2">Cookies
                            <input type="radio" name="category" value="3">Helados
                        </div>
                        

                        <div class="form-item addproduct-price grupo__addprice">
                            <label for="addprice"> Precio </label>
                            <input type="number" name="addprice" min="1" max="99999" class="is-input" placeholder="Precio" id="addprice" required>
                            <small id="input-error-addprice" class="input-error" style="display: none; color: red">Campo Obligatorio, mininimo 1 maximo 999.</small>
                        </div>
                        
                        <div class="form-item">
                            <div class="form-section">
                                <button type="submit" id="button-submit-admin" class="button is-button">Agregar producto</button>                                
                            </div>
                        </div>

                        <div class="formulario__mensaje-error-imagen" id="formulario__mensaje-error">
                            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor agrega una imagen. </p>
                        </div>
                        
                        <div class="formulario__mensaje-error" id="formulario__mensaje-error" >
                            <p><i class="fas fa-exclamation-triangle" ></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                        </div>

                        <div class="formulario__grupo-enviado">
                            <p class="formulario__mensaje-exito" style="display: none" id="formulario__mensaje-exito">Producto creado exitosamente!</p>
                        </div>

                    </form>
                    
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/js/formadmin.js"></script>
<%- include('./partials/footer') %>
</body>

</html>