<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
        <link rel="stylesheet" href="../stylesheets/style.css" />
</head>

<body>
    <header>
        <%- include('./partials/nav', {user: user})%>
    </header>
    <main>
        <!--  welcome-box  -->
        <div class="welcome-box">
            <h2 class="welcome-title">SWEET TREATS</h2>
            <div>
                <a href="shop"><button class="learn-more">Tienda Online</button></a>
            </div>
        </div>
        <!--  /welcome-box  -->


        <div id="container">
            <span id="text1"></span>
            <span id="text2"></span>
        </div>

        <svg id="filters" height="0px">
            <defs>
                <filter id="threshold">
                    <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
									0 1 0 0 0
									0 0 1 0 0
									0 0 0 255 -140" />
                </filter>
            </defs>
        </svg>

        <!--  shopNow  -->
        <section class="shopNow">
            <div class="shopNow-img">
                <img src="/images/ShopNow-Bg.jpg" alt="Imagen shopNow" />
            </div>
            <div class="shopNow-Textbox">
                <h1>¿Ya conoces todos nuestros productos?</h1>
            </div>
            <div class="shopNow-btn">
                <a href="shop">¡Visita Ahora!</a>
            </div>
        </section>
        <!--    /shopNow    -->
        <!-- Aboutbox-->


        <!-- animation -->


        </div>
        <section class="about-box" id="about-box">
            <div class="about-text">
                <h2 class="about-text-title">
                    Somos Sweet Treats <i class="fas fa-heart"></i>
                </h2>
                <p class="about-text-paragraph">
                    Somos una empresa que adora <br /> compartir nuestra pasion por los dulces <br /><br /> Todos nuestros productos son 100% <br /> preparados por nosotros con mucho amor <br /><br /> deseamos que te guste nuestro catalogo <br /><br />                    Gracias por hacer esto posible <i class="far fa-laugh-beam"></i>
                </p>
            </div>
        </section>
        <!-- /Aboutbox-->

        <!-- midsection -->
        <section class="midsection">
            <h3 id="text"></h1>
            </section>
        <!-- Testimonials-->
        <section>
            <div class="testimonials">
                <% let shuffleTestimonials=(testimonials.sort((a, b)=> 0.5 -
                    Math.random())).slice(0, 3);%>
                    <% shuffleTestimonials.forEach(function(testimonial){ %>
                        <%- include('partials/testimonials',{testimonial: testimonial}) %>
                            <% }); %>
            </div>
        </section>
        <!-- /Testimonials-->
    </main>
    <%- include('./partials/footer') %>

        <script src="/js/animation.js">

        </script>
</body>

</html>