<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link rel="stylesheet" href="../stylesheets/succes&error.css">
</head>

<body>
    <!--  Inicio de la NavBar -->
    <header>
        <%- include('./partials/nav') %>
    </header>
    <main>
        <div class="page-wrapper">
            <div class="custom-modal">
                <div class="succes succes-animation icon-top"><i class="fa fa-check"></i></div>
                <div class="succes border-bottom"></div>
                <div class="content">
                    <p class="message-type">Pedido Confirmado</p>
                    <a class="modal-btn" href="/">Pagina Principal</a>
                </div>
            </div>
    <main>

</body>

</html>