<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="/stylesheets/terms.css" />
</head>

<body>
    <header>
        <%- include('./partials/nav') %>
    </header>
    <main>
        <div class="back-to-register"><a href="user/register"><i class="fas fa-arrow-left"></i>Volver a register</div></a>
            <div class="terms-text">
                <h1>Términos y Condiciones</h1>
                <p>Bienvenido al sitio de internet www.sweetreats.com.ar. Los términos y condiciones, que se describen a continuación (en adelante los "Términos y Condiciones") tienen por objeto regular el uso que del mismo realicen las personas que ingresen al Sitio. 
                Por "Usuario" del Sitio se entiende tanto a quienes se registren en el mismo como a los que tan sólo visiten el mismo, (en adelante el "Usuario"). Al registrarse y/o navegar en el Sitio, el Usuario presta su consentimiento al presente.</p>
                <p>Los Términos y Condiciones así como la Política de Privacidad y/o informaciones sobre el Sitio se considerarán de aplicación para todo Usuario del Sitio desde el primer momento en que acceda al mismo. Los presentes términos y condiciones tienen carácter obligatorio y vinculante. Se aplican a todas las compras y actividades realizadas en el Sitio. Si el Usuario no acepta en forma total los presentes Términos y Condiciones y la Política de Privacidad, le rogamos que no avance en el acceso y visita de nuestro Sitio. En caso de avanzar en la visita a nuestro Sitio, se entenderá que el Usuario aceptó sin reservas los presentes Términos y Condiciones y la Política de Privacidad, aceptando recibir mails periódicos con la información que el Sitio determine. Los Términos y Condiciones y la Política de Privacidad podrán ser modificados en todo o en parte en cualquier momento y a exclusivo criterio de TOPYED S.A.; dichos cambios e implementaciones tendrán vigencia a partir del momento mismo en que sean publicados o insertados en el Sitio o desde que sean notificados al Usuario por cualquier medio, lo que ocurra primero. Por lo expuesto, le sugerimos que los visite periódicamente. Las violaciones a los Términos y Condiciones generarán el derecho en favor del titular del Sitio a suspender o terminar la prestación del servicio al Usuario que las haya realizado, por acción u omisión. El Sitio se preocupa por la protección de datos de carácter personal de los Usuarios, de acuerdo a los lineamientos expuestos en nuestra Política de Privacidad. </p>
                 Los productos y servicios que se ofrecen por medio del Sitio (en adelante los "Productos"), sólo están disponibles para personas que tengan capacidad legal para comprar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar información personal para ser incluida en nuestras bases de datos. Sin embargo pueden hacerlo a través de sus padres o tutores. Los padres, tutores o responsables de los menores de edad o incapaces que utilicen el Sitio serán responsables por dicho uso, incluyendo cualquier cargo, facturación o daño que se derive de él. Si el Usuario está registrado como Empresa, deberá tener capacidad para comprar  a nombre de tal entidad y de obligar a la misma en los términos del presente. 
                </p>
                <p>Si tenes alguna consulta:</p>
                <ul>
                    <li>Contactanos por mail:
                        <a href="mailto:sweettreatsarg@gmail.com">sweettreatsarg@gmail.com</a></li>
                </ul>
            </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>