<nav class="navbar">
    <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
        <i class="fa fa-bars"></i>
    </label>
    <a href="/" class="logo">Sweet Treats</a>
    <input type="checkbox" id="chkToggle"></input>
    <% if(user){ %>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="/shop" class="nav-links">Productos</a>
            </li>
            <li>
                <% if(user.role == "basic"){ %>
                    <a href="/user/profile" class="nav-links">Perfil</a>
                    <% } else{ %>  
                        <a href="/adminpanel" class="nav-links">Admin Panel</a>
                        <% } %>
                    </li>
                    <li>
                        <div class="nav-links">
                            <div class="user-nav-container">
                                <% if(user.image){ %>
                                    <img class="avatar-nav" src="<%= user.image %>" alt="avatar">
                                    <% } else{ %>  
                                        <img class="avatar-nav" src="../images/AB-ICON.png" alt="avatar">
                                        <% } %>
                                        <% if(user.fullname.length > 7){ %>
                                            <span class="user-name"> Hola, <%= user.fullname.substring(0, 7)+ "..." %> </span>
                                          <% } else{ %>  
                                            <span class="user-name">Hola, <%= user.fullname %></span>
                                         <% } %>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="nav-links">
                                    <a href="/user/logout">
                                        <i class="fas fa-sign-out-alt  style="font-size: 20px;"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <% if(user.role == 'basic'){ %>
                                <div class="nav-links">
                                    <a href="/product/checkout">
                                        <% if(typeof productsInCart == 'undefined'){ %>
                                            <i class="fas fa-shopping-cart nav-cart"><span class="icon-button__badge">0</span></i>
                                        <% } else { %> 
                                            <i class="fas fa-shopping-cart nav-cart"><span class="icon-button__badge"><%= productsInCart %></span></i>
                                        <% } %> 
                                    </a>
                                </div>
                              <% } %>
                            </li>
                        </ul>
       <% } else{ %>  
                            <ul class="main-nav" id="js-menu">
                                <li>
                                    <a href="/shop" class="nav-links">Productos</a>
                                </li>
                                <li>
                                    <a href="/#about-box" class="nav-links">Nosotros</a>
                                </li>
                                <li>
                                    <a href="/#footer" class="nav-links">Contacto</a>
                                </li>
                                <li>
                                    <a href="/user/register" class="nav-links">
                                        <i class="far fa-user"></i>
                                    </a>
                                </li>
                            </ul>
                            <% } %>
                        </nav>