<div class="testimonial-container">
    <img src='<%- testimonial.avatar %> ' alt='profile image' class="profile-img">
    <h1 class="name"><%- testimonial.name %> </h1>
    <p class="description">&quot<%- testimonial.review %>&quot</p>
    <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
    </div>
</div>