<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/nav.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Sweet Treats</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
                <i class="fa fa-bars"></i>
            </label>
            <a href="#" class="logo">Sweet Treats</a>
            <input type="checkbox" id="chkToggle"></input>
            <ul class="main-nav" id="js-menu">
                <li>
                    <a href="products" class="nav-links">Productos</a>
                </li>
                <li>
                    <a href="#" class="nav-links">Nosotros</a>
                </li>
                <li>
                    <a href="#" class="nav-links">Contacto</a>
                </li>
                <li>
                    <a href="forms" class="nav-links">
                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li>
                    <div class="nav-links">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="welcome-box">
            <h2 class="welcome-title">SWEET TREATS</h2>
            <div class="welcome-btn">
                <a href="#">Tienda Online</a>
            </div>
        </div>
        <div class="about-box">
            <div class="about-text">
                <h2 class="about-text-title">Somos Sweet Treats <i class="fas fa-heart"></i></h2>
                <p class="about-text-paragraph">Somos una empresa que adora <br>
                    compartir nuestra pasion por los dulces <br><br>
                    Todos nuestros productos son 100% <br>
                    preparados por nosotros con mucho amor <br><br>
                    deseamos que te guste nuestro catalogo <br><br>
                    Gracias por hacer esto posible <i class="far fa-laugh-beam"></i>
                </p>
            </div>
        </div>
        <section>
            <div class="testimonials">
                <div class="container">
                    <img src='./images/avatar1.jpg' alt='profile image' class="profile-img">
                    <h1 class="name">Martina Lopez</h1>
                    <p class="description"> &quot Las mejores donas &quot </p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>

                    </div>
                </div>
                <div class="container">
                    <img src='./images/avatar2.jpg'' alt=' profile image' class="profile-img">
                    <h1 class="name">Lucia Shull</h1>
                    <p class="description">&quot Muero por dulces &quot</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="container">
                    <img src='./images/avatar3.jpg'' alt=' profile image' class="profile-img">
                    <h1 class="name">Eric Santos</h1>
                    <p class="description">&quot Imperdibles medialunas &quot</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-addr">
            <h1 class="footer-logo">Sweet Treats</h1>
            <h2>Contacto</h2>

            <address>
                <i class="fas fa-map-marker-alt"></i> Av Indiana 3162 || <i class="fas fa-mobile-alt"></i> 11 335789
                <a class="footer-btn" href="mailto:sweettreatsarg@gmail.com">Mail: <i class="far fa-envelope"></i> </a>
            </address>

            <div class="social-container">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.google.com/intl/es-419/gmail/about/"><i class="fab fa-google"></i></a>
            </div>
        </div>

        <ul class="footer-nav">

            </li>
            <li class="nav-item">
                <h2 class="nav-title">Productos</h2>

                <ul class="nav-ul">
                    <li>
                        <a href="#">Mas Vendidos</a>
                    </li>

                    <li>
                        <a href="#">Tendencias</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <h2 class="nav-title">Nosotros</h2>

                <ul class="nav-ul">
                    <li>
                        <a href="#">Envios</a>
                    </li>

                    <li>
                        <a href="#">Ayuda</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <h2 class="nav-title">Info</h2>

                <ul class="nav-ul">
                    <li>
                        <a href="#">Contacto</a>
                    </li>

                    <li>
                        <a href="#">Privacidad</a>
                    </li>

                </ul>
            </li>
        </ul>

        <div class="legal">
            <p>&copy; 2021 Todos los derechos reservados.</p>

            <div class="legal-links">
                <span>Hecho con <span class="heart">♥</span> por Diego, Juan y Noelia</span>
            </div>
        </div>
    </footer>
</body>

</html>