<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet Treats</title>
    <style>
        h1 {
            left: 0;
            line-height: 200px;
            margin-top: -100px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
            color: darkslateblue;
        }
    </style>
</head>
<body>
    <h1>Testing Server</h1>
</body>
</html>