<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    
    <title>Nav</title>
</head>
<body>
<header>
    <nav class="navbar">
        <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
                <i class="fa fa-bars"></i>
            </label>
        <a href="#" class="logo">Sweet Treats</a>
        <input type="checkbox" id="chkToggle"></input>
        <ul class="main-nav" id="js-menu">
          <li>
            <a href="#" class="nav-links">Productos</a>
          </li>
          <li>
            <a href="#" class="nav-links">Nosotros</a>
          </li>
          <li>
            <a href="#" class="nav-links">Contacto</a>
          </li>
          <li>
            <a href="#" class="nav-links">
                <i class="far fa-user"></i>
            </a>
          </li>
          <li>
              <div class="nav-links">
                  <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
              </div>
          </li>
        </ul>
      </nav>
</header>
<main>
  <div class="welcome-box">
    <h2 class="welcome-title">SWEET TREATS</h2>
  <div class="welcome-btn">
    <a href="#">Tienda Online</a>
  </div>
</div>
<div class="about-box">
  <div class="about-text">
    <h2 class="about-text-title">Somos Sweet Treats <i class="fas fa-heart"></i></h2>
    <p class="about-text-paragraph">Somos una empresa que adora <br>
    compartir nuestra pasion por los dulces <br><br>
  Todos nuestros productos son 100% <br>
  preparados por nosotros con mucho amor <br><br>
  deseamos que te guste nuestro catalogo <br><br>
  Gracias por hacer esto posible <i class="far fa-laugh-beam"></i>
</p>
  </div>  
</div>
</main>
</body>
</html>