<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/product.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Sweet Treats</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
                <i class="fa fa-bars"></i>
            </label>
            <a href="/" class="logo">Sweet Treats</a>
            <input type="checkbox" id="chkToggle"></input>
            <ul class="main-nav" id="js-menu">
                <li>
                    <a href="shop" class="nav-links">Productos</a>
                </li>
                <li>
                    <a href="#about-box" class="nav-links">Nosotros</a>
                </li>
                <li>
                    <a href="#footer" class="nav-links">Contacto</a>
                </li>
                <li>
                    <a href="forms" class="nav-links">
                        <i class="far fa-user"></i>
                    </a>
                </li>
                <li>
                    <div class="nav-links">
                        <a href="shop">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="product-container">
            <div class = "card-wrapper">
                <div class = "card">
                  <div class = "product-imgs">
                    <div class = "img-display">
                      <div class = "img-showcase">
                        <img src = "./images/cookie1.jpg" alt = "cookie">
                      </div>
                    </div>
                    <div class = "img-select">
                      <div class = "img-item">
                        <a href = "#" >
                          <img src = "./images/cookie3.jpg" alt = "cookie">
                        </a>
                      </div>
                      <div class = "img-item">
                        <a href = "#" data-id = "4">
                          <img src = "./images/cookie4.jpg" alt = "cookie">
                        </a>
                      </div>
                    </div>
                  </div>
                 
                  <div class = "product-content">
                    <h2 class = "product-title">Chocolate Chip Cookie</h2>
                    <div class = "product-rating">
                      <i class = "fas fa-star"></i>
                      <i class = "fas fa-star"></i>
                      <i class = "fas fa-star"></i>
                      <i class = "fas fa-star"></i>
                      <i class = "fas fa-star-half-alt"></i>
                    </div>
                    <div class = "product-price">
                      <p class = "price">Precio: <span>$150.00</span></p>
                    </div>
                    <div class = "product-detail">
                      <h2>Mas Informacion: </h2>
                      <p>Esta galleta es una mezcla de las chispas de chocolate con leche más cremosas que tienen toques de caramelo y avellana aromática con chispas de chocolate negro</p>
                      <ul class="detail-icons">
                        <li> <i class="fas fa-bread-slice"></i>Contiene Tacc:<span> Si</span></li>
                        <li><i class="fas fa-check-circle"></i></i>Disponibilidad: <span>En stock</span></li>
                        <li><i class="fas fa-cookie"></i>Categoria: <span>Cookies</span></li>
                        <li><i class="fas fa-shopping-bag"></i></i>Retiro en tienda: <span>Si</span></li>
                        <li><i class="fas fa-truck"></i>Envio:<span>Sin cargo desde $2500</span></li>
                      </ul>
                    </div>
                    <div class = "purchase-info">
                      <input type = "number" min = "0" value = "1">
                      <button type = "button" class = "btn cart">
                        Agregar al Carro <i class = "fas fa-shopping-cart"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
        </section>
    </main>
    <footer class="footer" id="footer">
        <div class="footer-addr">
            <h1 class="footer-logo">Sweet Treats</h1>
            <h2>Contacto</h2>

            <address>
                <i class="fas fa-map-marker-alt"></i> Av Indiana 3162 || <i class="fas fa-mobile-alt"></i> 11 335789
            </address>
            <div class="social-container">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.google.com/intl/es-419/gmail/about/"><i class="fab fa-google"></i></a>
                <a href="mailto:sweettreatsarg@gmail.com"><i class="far fa-envelope"></i> </a>
            </div>
        </div>
        <ul class="footer-nav">
            </li>
            <li class="nav-item">
                <a href="shop"><h2 class="nav-title">Productos</h2></a>
                <ul class="nav-ul">
                    <li>
                        <a href="underconstruction">Mas Vendidos</a>
                    </li>

                    <li>
                        <a href="underconstruction">Tendencias</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <h2 class="nav-title">Nosotros</h2>

                <ul class="nav-ul">
                    <li>
                        <a href="underconstruction">Envios</a>
                    </li>

                    <li>
                        <a href="underconstruction">Ayuda</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a href="underconstruction">
                    <h2 class="nav-title">Info</h2>
                </a>

                <ul class="nav-ul">
                    <li>
                        <a href="#">Contacto</a>
                    </li>

                    <li>
                        <a href="underconstruction">Privacidad</a>
                    </li>

                </ul>
            </li>
        </ul>

        <div class="legal">
            <p>&copy; 2021 Todos los derechos reservados.</p>
            <div class="legal-links">
                <span>Hecho con <span class="heart">♥</span> por Diego, Juan y Noelia</span>
            </div>
        </div>
    </footer>
</body>
</html>