<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/normalize.css">
  <link rel="stylesheet" href="./stylesheets/underconstruction.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <title>Sweet Treats</title>
</head>
<body>
  
    <div class="wrapper">
        <h1>Proximamente<span class="dot">.</span></h1>
        <p>Sitio en construccion</p>
        <div class="icons">
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-youtube-play"></i></a>
          <a href=""><i class="fa fa-paper-plane"></i></a>
        </div>
       </div>
</body>
</html>