@import url(_colorpalette.css);
@import url(_nav.css);
@import url(_footer.css);

.wrapper {
    display: flex;
    flex-direction: column;
    background: url(https://images.unsplash.com/photo-1490367605959-06955305859b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWFjYXJvbnN8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    font-family: Arial,Helvetica,sans-serif;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 90vw;
  }
  
  .container h3 {
    text-align: center;
  }
  
  .form{
    margin: 0;
    position: relative;
    background: rgba(0,0,0,.7);
    padding: 60px 10px 20px 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .avatar {
    position: absolute;
    background: #74b9ff;
    border-radius: 50%;
    top:-10%;
    left: 40%;
    z-index: 4;
  }
  .avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  
  .form-item {
    padding: 15px 10px 10px 10px;
    flex:1;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
    width: 100%;
  }
  
  .form-item label {
    display: block;
    flex:1;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .form-item input {
    padding: 4px 0px;
    flex:1;
    background: transparent;
    border-top: none;
    outline: none;
    border-left: none;
    border-right: none;
    caret-color: #fff;
    color:#fff;
    transition: all 200ms;
    border-bottom-color: #fff;
  }
  
  .form-item .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .form-item input:focus{
    border-bottom-color: coral;
  }
  
  ::placeholder,
  ::ms-input-placeholder,
  :ms-input-placeholder{
    color:#ccc;
    font-size:12px;
  }
  
  .form-item button {
    flex:1;
    display: block;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    color:grey;
    letter-spacing: .5px;
    border: none;
    outline:none;
    transition: all 200ms;
    background-color: transparent;
    border-color: grey;
    margin-bottom: 15px;
  
  }
  
  .form-item button:hover {
    cursor:pointer;
    background: rgba(255, 56, 56,.7);
  }
  .form-item a {
    text-decoration: none;
  }
  
  .form-item .pass {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-item i {
    padding-right: 5px;
  }
  
  .social-container a {
    margin: 15px;;
  }
  
  .social-container .link {
      margin: 15px;
      font-size: 40px;
  }
  
  .social-container .facebook {
    color: #3B5998;
    
  }
  
  .social-container .google {
    color: tomato;
  }
  
  .is-link {
    color: #fff;
    flex:1;
    font-size: 1em;
    margin-top: 1em;
  }
  
  .is-link:hover {
    text-decoration: underline;
  }
  
  @media screen and (min-width:768px) {
     .wrapper {
       flex-direction: row;
       display: flex;
       justify-content: space-around;
     }
  
     .container {
      width: 40vw;
     }
  
    .form-pass {
      display: flex;
      flex-direction: row;
    }
  
  }