@import url(_colorpalette.css);
@import url(_nav.css);
@import url(_footer.css);

body {
    font-family: 'Poppins' , sans-serif;
    /* line-height: 1.5; */
}

.product-container {
    height: 100vh;
}

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 3em;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}

.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: var(--strongviolet);
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-rating{
    color: var(--lightviolet);
}
.product-rating span{
    font-weight: 600;
    color: var(--fontcolor);
}
.product-price{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.price span{
    color: var(--strongviolet);
    font-size: 1em;
    font-weight:600;
}

.product-detail h2{
    text-transform: capitalize;
    color: var(--fontcolor);
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 1em;
    padding: 0.3rem;
}

.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.detail-icons  i{
    font-size: 1em;
    color: var(--lightviolet);
    padding-right: 1em;
}

.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    text-align: center;
    padding: 1em;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 45px;
    color: var(--lightviolet);
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
    width: 250px;
}

.purchase-info .btn:last-of-type{
    background: var(--lightviolet);
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}


@media screen and (min-width: 768px){

    .card-wrapper{
        height: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }

    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .product-content{
        padding-top: 0;
    }
}