
@import url(_colorpalette.css);
@import url(_nav.css);
@import url(_footer.css);


.wrapper {
  display: flex;
  flex-direction: column;
  background: var(--lightviolet);
  background: linear-gradient(rgba(166, 156, 241, 0.46), rgba(166, 156, 241, 0.46)), url('/images/construction.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 2em;
  width: 90vw;
}

.construction-info h2 {
  font-size: 2em;
  color: var(--fontcolor)
}

.container i {
  color: var(--fontcolor);
  font-size: 3em;
}

@media screen and (min-width:768px) {
  .construction-info h2 {
    font-size: 4em;
    color: var(--fontcolor)
  }
}