<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
  <link rel="stylesheet" href="../stylesheets/404.css">
</head>
<body>
  <section class="err-section">
    <div title="404" class="err-text">404</div>
    <span>Page not found</span>
    <article class="error-icon">
      <a href="/">
        <i class="fas fa-home"></i>
      </a>
    </article>
    </div>
  </section>
</body>
</html>
