<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="./stylesheets/forms.css">
</head>

<body>
    <header>
        <%- include('./partials/nav') %>
    </header>
    <main>
        <section>
            <div class="wrapper">
                <div class="container">
                    <form action="#" method="POST" class="form login" autocomplete="off">
                        <h3>Iniciar Sesion</h3>
                        <div class="form-item">
                            <label for="email"><i class="fas fa-envelope"></i>Email</label>
                            <input type="text" name="email" class="is-input" placeholder="Email" id="email"
                                autocomplete="off">
                        </div>
                        <div class="form-item login-pw">
                            <label for="password"><i class="fas fa-lock"></i>Contraseña</label>
                            <input type="password" name="password" class="is-input" placeholder="Contraseña"
                                id="password">
                        </div>
                        <div class="form-item">
                            <div class="form-section">
                                <button type="submit" class="button is-button">Iniciar Sesion</button>
                                <div class="social-container-form login-icons">
                                    <a href="https://www.facebook.com/" class="link facebook"><i
                                            class="fab fa-facebook"></i></a>
                                    <a href="https://www.google.com/intl/es-419/gmail/about/" class="link google">
                                        <i class="fab fa-google"></i></a>
                                </div>
                                <a href="#" class="button is-link">¿Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container ">
                    <form action="/user" method="POST" class="form register" autocomplete="off">
                        <h3>Registro</h3>
                        <div class="form-pass">
                            <div class="form-item">
                                <label for="name"><i class="fas fa-user"></i></i>Nombre Completo</label>
                                <input type="text" name="fullname" class="is-input" placeholder="Nombre Completo" id="fullname">
                            </div>
                            <div class="form-item">
                                <label for="email"><i class="fas fa-envelope"></i>Email</label>
                                <input type="text" name="email" class="is-input" placeholder="Email" id="email"
                                    autocomplete="off">
                            </div>
                        </div>
                        <div class="form-item">
                            <label for="password"><i class="fas fa-lock"></i>Contraseña</label>
                            <input type="password" name="password" class="is-input" placeholder="Contraseña"
                                id="password">
                        </div>
                        <div class="form-item">
                            <div class="form-section">
                                <button type="submit" class="button is-button">Registrarse</button>
                                <div class="social-container-form register-icons">
                                    <a href="https://www.facebook.com/" class="link facebook"><i
                                            class="fab fa-facebook"></i></a>
                                    <a href="https://www.google.com/intl/es-419/gmail/about/" class="link google"><i
                                            class="fab fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>