<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <link rel="stylesheet" href="./stylesheets/formsadmin.css">
</head>

<body>
    <header>
        <%- include('./partials/nav') %>
    </header>
    <main>
        <section>
            <div class="wrapper-admin">
                <div class="container">
                    <form action="/product" method="POST" enctype="multipart/form-data" class="form addproduct"
                        autocomplete="off">
                        <h3>Agregar producto</h3>
                        <div class="form-item">
                            <label for="product-name">Nombre producto</label>
                            <input type="text" name="productname" class="is-input" placeholder="Nombre producto"
                                id="product-name" autocomplete="off" required>
                        </div>
                        <div class="form-item addproduct-description">
                            <label for="description">Descripción</label>
                            <input type="text" name="description" class="is-input" placeholder="Descripción producto"
                                id="description">
                        </div>
                        <div class="form-item addproduct-image">
                            <label for="addimage">Imagen</label>
                            <input type="file" name="addimages" class="is-input" accept=".jpg , .png" id="addimage" required>
                        </div>
                        <div class="form-item addproduct-category">
                            <label for="category">Categoría</label>
                            <select name="category" class="is-input" placeholder="Categoría" id="category" required>
                                <option value="Donas">Donas</option>
                                <option value="Cookies">Cookies</option>
                                <option value="Helados">Helados</option>
                        </div>
                        <div class="form-item addproduct-price">
                            <label for="addprice"> Precio </label>
                            <input type="text" name="addprice" class="is-input" placeholder="Precio" id="addprice" required>
                        </div>
                        <div class="form-item">
                            <div class="form-section">
                                <button type="submit" class="button is-button">Agregar producto</button>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="container ">
                    <form action="#" method="POST" class="form editproduct" autocomplete="off">
                        <h3>Editar Producto</h3>
                        <div class="form-item">
                            <label for="product-name">Nombre producto</label>
                            <input type="text" name="product-name" class="is-input" placeholder="Nombre producto"
                                id="product-name" autocomplete="off">
                        </div>
                        <div class="form-item">
                            <label for="product-id">Id producto</label>
                            <input type="text" name="product-id" class="is-input" placeholder="Id producto"
                                id="product-id" autocomplete="#">
                        </div>
                        <div class="form-item addproduct-description">
                            <label for="description">Descripción</label>
                            <input type="text" name="description" class="is-input" placeholder="Descripción producto"
                                id="description">
                        </div>
                        <div class="form-item addproduct-image">
                            <label for="addimage">Imagen</label>
                            <input type="file" name="addimage" class="is-input" accept=".jpg , .png" id="addimage">
                        </div>
                        <div class="form-item addproduct-category">
                            <label for="category">Categoría</label>
                            <input type="text" name="category" class="is-input" placeholder="Categoría" id="category">

                        </div>
                        <div class="form-item addproduct-price">
                            <label for="addprice"> Precio </label>
                            <input type="text" name="addprice" class="is-input" placeholder="Precio" id="addprice">
                        </div>
                        <div class="form-item">
                            <div class="form-section">
                                <button type="submit" class="button is-button">Agregar producto</button>
                                <button type="submit" class="button is-button">Eliminar producto</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>

</body>

</html>