<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/normalize.css">
    <link rel="stylesheet" href="./stylesheets/forms.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>Sweet Treats</title>
</head>

<body>
    <header>
        <%- include('./partials/nav') %> 
    </header>
    <main>
        <section>
            <div class="wrapper">
                <div class="container">
                    <form action="#" method="POST" class="form login" autocomplete="off">
                        <h3>Iniciar Sesion</h3>
                        <div class="form-item">
                            <label for="email"><i class="fas fa-envelope"></i>Email</label>
                            <input type="text" name="email" class="is-input" placeholder="Email" id="email"
                                autocomplete="off">
                        </div>
                        <div class="form-item login-pw">
                            <label for="password"><i class="fas fa-lock"></i>Contraseña</label>
                            <input type="password" name="password" class="is-input" placeholder="Contraseña"
                                id="password">
                        </div>
                        <div class="form-item">
                            <div class="form-section">
                                <button type="submit" class="button is-button">Iniciar Sesion</button>
                                <div class="social-container-form login-icons">
                                    <a href="https://www.facebook.com/" class="link facebook"><i
                                            class="fab fa-facebook"></i></a>
                                    <a href="https://www.google.com/intl/es-419/gmail/about/" class="link google">
                                        <i class="fab fa-google"></i></a>
                                </div>
                                <a href="#" class="button is-link">¿Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container ">
                    <form action="#" method="POST" class="form register" autocomplete="off">
                        <h3>Registro</h3>
                        <div class="form-item">
                            <label for="email"><i class="fas fa-envelope"></i>Email</label>
                            <input type="text" name="email" class="is-input" placeholder="Email" id="email"
                                autocomplete="off">
                        </div>
                        <div class="form-pass">
                            <div class="form-item">
                                <label for="password"><i class="fas fa-lock"></i>Contraseña</label>
                                <input type="password" name="password" class="is-input" placeholder="Contraseña"
                                    id="password">
                            </div>
                            <div class="form-item">
                                <label for="password"><i class="fas fa-lock"></i>Confirmar contraseña</label>
                                <input type="password" name="password" class="is-input"
                                    placeholder="Confirmar contraseña" id="password">
                            </div>
                        </div>
                        <div class="form-item">
                            <div class="form-section">
                                <button type="submit" class="button is-button">Registrarse</button>
                                <div class="social-container-form register-icons">
                                    <a href="https://www.facebook.com/" class="link facebook"><i
                                            class="fab fa-facebook"></i></a>
                                    <a href="https://www.google.com/intl/es-419/gmail/about/" class="link google"><i class="fab fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>