<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/formslogin.css" />
</head>

<body>
    <header>
        <%- include('./partials/nav', {user: user}) %>
    </header>
    <main>
        <% if(locals.errors && errors.email) { %>
            <div class="registered-banner">
                <%= errors.email.msg  %>
            </div>
            <%  } %>
            <% if(locals.registered) { %>
                <div class="registered-banner">
                    Gracias por registrarse! Ingrese con su usuario y contraseña.
                </div>
                <% } %>
                
                <div class="hero">
                    <div class="form-box">
                        <div class="button-box">
                            <div class="btn-login"></div>
                            <button type="button" class="toggle-btn">Iniciar Sesion</button>
                            <a href="/register"><button type="button" class="toggle-btn">Registro</button></a>
                        </div>
                        <div class="social-icons">
                            <img src="/images/formslogin/fb.png" alt="facebook-icon" />
                            <img src="/images/formslogin/tw.png" alt="twitter-icon" />
                            <img src="/images/formslogin/gp.png" alt="google-icon" />
                        </div>
                        <form method="POST" id="login" action="/user/login" class="input-group">
                            <label for="email"></label>
                            <input name="email" type="email" class="input-field" placeholder="Email" required />
                            <label for="password"></label>
                            <input name="password" type="password" class="input-field" placeholder="Contraseña" required />
                            <input type="checkbox" class="check-box" />
                            <span class="form-span">Recordar Contraseña</span>
                            <button type="submit" class="submit-btn">Iniciar Sesion</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>

</html>