<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %> 
    <link rel="stylesheet" href="../stylesheets/style.css"> 
</head>

<body>
    <header>
        <%- include('./partials/nav') %> 
    </header>
    <main>
        <div class="welcome-box">
            <h2 class="welcome-title">SWEET TREATS</h2>
            <div class="welcome-btn">
                <a href="shop">Tienda Online</a>
            </div>
        </div>
        
        <!-- arranca sección tendencias   -->
        <div>
            <div class="tendencias">
                <img src="/images/Doughnuts_Coconut_04.jpg" class="tendenciasimg">
                <p class="textotendencias">Tendencias</p>
                <p class='masinfo'>Más información</p>
                <p class="lima">Lima</p>
                <p class="coco">coco</p>
            </div>
        <div class="desktop-tendencia">
            <div class="container-texto">
                <div class="desktop-tendencia-texto">
                    <h1 class="desktop-t-header"> Dona Lima y Coco </h1>
                    
                    <p class="desktop-tendencia-paragraph">
                        <i class="far fa-check-circle"></i> Masa vegana<br>
                        <i class="far fa-check-circle"></i> Rellena de flan de cocoo<br>
                        <i class="far fa-check-circle"></i> Cubierta de glaseado de lima picante y crumble de vainilla<br>
                        <i class="far fa-check-circle"></i> 100% orgánico<br>
                    </p>
                </div>
                
                <div class="desktop-text-btn">
                    <a href="/product">Mas información</a>
                </div>
            </div>
            <img src="/images/Doughnuts_Coconut_04.jpg" class="desktop-tendencias-img">
        </div>
        
            <!--  shopNow  -->

            <section class="shopNow">
                <div class="shopNow-img">
                    <img src="/images/ShopNow-Bg.jpg" alt="Imagen shopNow">
                </div>
                <div class="shopNow-Textbox">
                    <h1>¿Ya conoces todos nuestros productos? </h1>
                </div>
                <div class="shopNow-btn">
                    <a href="shop">Tienda Online</a>
                </div>

            </section>

            <!--    /shopNow    -->
        
        
        <div class="about-box" id="about-box">
            <div class="about-text">
                <h2 class="about-text-title">Somos Sweet Treats <i class="fas fa-heart"></i></h2>
                <p class="about-text-paragraph">Somos una empresa que adora <br>
                    compartir nuestra pasion por los dulces <br><br>
                    Todos nuestros productos son 100% <br>
                    preparados por nosotros con mucho amor <br><br>
                    deseamos que te guste nuestro catalogo <br><br>
                    Gracias por hacer esto posible <i class="far fa-laugh-beam"></i>
                </p>
            </div>
        </div>
        <section>
            <div class="testimonials">
                <% let shuffleTestimonials = (testimonials.sort((a, b) => 0.5 - Math.random())).slice(0, 3);%>
                <% shuffleTestimonials.forEach(function(testimonial){ %>
                    <%- include('partials/testimonials',{testimonial: testimonial}) %>
                    <% }); %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>

</html>