<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <!--  Inicio de la NavBar -->
  <header>
    <%- include('./partials/nav') %>
  </header>
  <main>

    <!--  Inicio de las tarjetas de producto -->

    <section class="">
      <div class="product-card-header">
        <h2 class="product-card-headerTitle">Productos</h2>
        <h4 class="product-card-headerSubtitle">Hechos con amor <i class="fas fa-heart"></i></h4>
      </div>
      <div class="product-cards categorias-cards">
        <div class="card cat-card">
          <div class="card-imagebox">
            <a href="/shop/donas"><img src="/images/Dona1_Chocolate.png" class="card-img-top" alt="..."></a>
          </div>
          <div class="product-card-body">
            <h5 class="product-card-title">Donas</h5>
            <a href="/shop/donas" class="product-card-btn">Visitar ahora</a>
          </div>
        </div>
        <div class="card cat-card">
          <div class="card-imagebox">
            <a href="/shop/cookies"><img src="/images/cookie.jpg" class="card-img-top" alt="..."></a>
          </div>
          <div class="product-card-body">
            <h5 class="product-card-title">Galletitas</h5>
            <a href="/shop/cookies" class="product-card-btn">Visitar ahora</a>
          </div>
        </div>
        <div class="card cat-card">
          <div class="card-imagebox">
            <a href="/shop/helados"><img src="/images/helado.jpg" class="card-img-top" alt="..."></a>
          </div>
          <div class="product-card-body">
            <h5 class="product-card-title">Helados</h5>
            <a href="/shop/helados" class="product-card-btn">Visitar ahora</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Incio de la Slider-->
    <section>

      <div class="slider">
        <div class="item">
          <img
            src="./images/Slider/img-slider1.jpg">
        </div>
        <div class="item">
          <img
            src="./images/Slider/img-slider2.jpg">
        </div>
        <div class="item">
          <img
            src="./images/Slider/img-slider3.jpg">
        </div>


        <a class="previous" onclick="previousSlide()">&#10094;</a>
        <a class="next" onclick="nextSlide()">&#10095;</a>
      </div>
    </section>

    <!--  Inicio del Testimonials  -->

    <section>
      <div class="testimonials">
        <% let shuffleTestimonials=(testimonials.sort((a, b)=> 0.5 - Math.random())).slice(0, 3);%>
          <% shuffleTestimonials.forEach(function(testimonial){ %>
            <%- include('partials/testimonials',{testimonial: testimonial}) %>
              <% }); %>
      </div>
    </section>
  </main>

  <!-- Inicio del footer-->

  <%- include('./partials/footer') %>
    <script>
      /* Устанавливаем индекс слайда по умолчанию */
      let slideIndex = 1;
      showSlides(slideIndex);


      function nextSlide() {
        showSlides(slideIndex += 1);
      }


      function previousSlide() {
        showSlides(slideIndex -= 1);
      }


      function currentSlide(n) {
        showSlides(slideIndex = n);
      }


      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("item");

        if (n > slides.length) {
          slideIndex = 1
        }
        if (n < 1) {
          slideIndex = slides.length
        }


        for (let slide of slides) {
          slide.style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
      }
    </script>
</body>

</html>