
        <h1 class="admin-panel">Admin Panel</h1>
        <section class="product-category">
          <a href="formsadmin"><button type="submit" class="btn btn-costum"><i class="fas fa-plus"></i> Nuevo Producto</button></a>
          <form class="product-category" action="/adminpanel" method="get">
            <select name='categorySelection' id="categorySelection" class="form-select" aria-label="Default select example">
              <option selected>Categoria</option>
              <% categories.forEach(function(category){ %>
                <option value="<%- category %>"><%- category %> </option>
                <% }); %>
              </select>
              <button type="submit" class="btn btn-costum">Buscar</button>
            </form>
          </section>


          
          <section class="table-wrapper">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Producto</th>
                  <th>Precio</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach(function(product){ %>
                  <%- include('partials/tableProduct', {product: product}) %>
                <% }); %>
                </tbody>
              </table>
            </section>
    </main>