
      <main class="main-admin">
        <div class="main-admin-header">
          <div class="main-header__intro-wrapper">
            <div class="main-header__welcome">
              <div class="main-header__welcome-title text-light">Bienvenido, <strong>User</strong></div>
              <div class="main-header__welcome-subtitle text-light">Admin Dashboard</div>
            </div>
            <div class="quickview">
              <div class="quickview__item">
                <div class="quickview__item-total">41</div>
                <div class="quickview__item-description">
                  <i class="far fa-calendar-alt"></i>
                  <span class="text-light">Events</span>
                </div>
              </div>
              <div class="quickview__item">
                <div class="quickview__item-total">64</div>
                <div class="quickview__item-description">
                  <i class="far fa-comment"></i>
                  <span class="text-light">Messages</span>
                </div>
              </div>
              <div class="quickview__item">
                <div class="quickview__item-total">27&deg;</div>
                <div class="quickview__item-description">
                  <i class="fas fa-map-marker-alt"></i>
                  <span class="text-light">Austin</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <h1 class="admin-panel">Admin Panel</h1>
        <section class="product-category">
          <a href="formsadmin"><button type="submit" class="btn btn-costum"><i class="fas fa-plus"></i> Nuevo Producto</button></a>
          <form class="product-category" action="/adminpanel" method="get">
            <select name='categorySelection' id="categorySelection" class="form-select" aria-label="Default select example">
              <option selected>Categoria</option>
              <% categories.forEach(function(category){ %>
                <option value="<%- category %>"><%- category %> </option>
                <% }); %>
              </select>
              <button type="submit" class="btn btn-costum">Buscar</button>
            </form>
          </section>


          
          <section class="table-wrapper">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Producto</th>
                  <th>Precio</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach(function(product){ %>
                  <%- include('partials/tableProduct', {product: product}) %>
                <% }); %>
                </tbody>
              </table>
            </section>
    </main>