@import url(_colorpalette.css);
@import url(_nav.css);
@import url(_footer.css);
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    height: 800px;
    width: 100vw;
    background-image: url(/images/formslogin/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.form-box {
    width: 270px;
    height:  600px;
    position: absolute;
    margin: 6% auto;
    margin-top: 0px;
    background: #fff;
    padding: 5px;
    top: calc(50% - 289px);
}

.button-box {
    width: 220px;
    top: -21px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 15px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-size: 13px;
}

.btn-login {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #b96ac9, #e5a9a9);
    border-radius: 30px;
    transition: 0.5s;
}

.btn-register {
    top: 0;
    left: 109px;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to left, #b96ac9, #e5a9a9);
    border-radius: 30px;
    transition: 0.5s;
}

.social-icons {
    margin: -34px auto;
    text-align: center;
}

.social-icons img {
    width: 40px;
    margin: 0 13px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-login{
    top: 212px;
    position: absolute;
    width: 206px;
    transition: 0.5s;
    left: 40px;
}

.input-register {
    top: 80px;
    position: absolute;
    width: 206px;
    transition: 0.5s;
    left: 30px;
}

.input-field-login{
    margin: 12px 0;
}

input[type="file"] {
    display: none;
    cursor: pointer;
}

.grupo__inputs{
    display: flex;
}

.grupo__inputs i{
    font-size: 20px;
    margin-top: 10px;
    color: green;   
    display: none;
}

.input-error{
    color: red;
    display: none;
}


label > i{
    color: #b96ac9;
    margin-right: 5px;
}

input[type="file"] + label {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.passeye {
    position: absolute;
    right: 20px;
    top: 46%;
    transform: translateY(-50%);
    cursor: pointer;
    color:  #b96ac9;
   
}

.registered-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 45px;
    color: var(--lightviolet);
    background:#FFF;
    font-weight: bold;
    vertical-align: middle;
}

.emoji {
    font-size: 20px;
    margin-top: 10px;
    font-size: 20px;
}
   

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to left, #b96ac9, #e5a9a9);
    /*E5A9A9 ffd2fc*/
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 12px 10px 20px 0px;
    height: 12px;
}

.form-span {
    color: #777;
    font-size: 10px;
    margin-top: 8px;
}

.to-terms span:hover {
    text-decoration: underline;
}

.formulario__grupo-enviado{
    text-align: center;
    color: green;
    margin-top: 5px;
}

.formulario__mensaje-error p {
    text-align: center;
    background-color: red;
    margin-top: 8px;
    color: white;
    padding: 5px;
    font-weight: initial;
    display: none;
}
.formulario__mensaje-error-terminos p {
    text-align: center;
    background-color: orange;
    margin-top: 8px;
    color: white;
    padding: 5px;
    font-weight: initial;
    display: none;
}

@media only screen and (min-width: 500px) {
    .form-box {
        width: 350px;
    }
    .input-group {
        width: 250px;
        left: 50px;
    }
}

