@import url(_colorpalette.css);
@import url(_nav.css);
@import url(_footer.css);
@import url(_products.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");


/* WELCOME BOX STYLES*/

body {
    font-family: 'Poppins' , sans-serif;
}

.welcome-box {
    width: 100vw;
    position: relative;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1583743089695-4b816a340f82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y29va2llc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=800&q=60");
    background-position: center center;
    text-align: center;
}

.welcome-title {
    position: absolute;
    width: 100%;
    font-weight: 800;
    font-size: 40px;
    color: #efe9e4;
    top: -10px;
    text-shadow: 3px 5px 2px #474747;
    font-family: "Pacifico";
}

button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    outline: none;
    top: 400px;
    left: calc(50% - 93px);
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    font-weight: 600;
    color: #efe9e4;;
    text-transform: uppercase;
    padding: 1em 1.5em;
    background: none;
    border: 2px solid #efe9e4;
}



button.learn-more:hover {
    color: var(--fontcolor);
    background: #efe9e4;

}

/*ABOUT US STYLES*/


.fas {
    color: rgba(255, 0, 0, 0.8);
    font-size: 24px;
}

.about-text-paragraph {
    font-weight: 300;
    padding: 10px;
}

.about-box {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1518831476675-ba490966548c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    width: 100vw;
    height: 400px;
    background-size: cover;
    margin-bottom: -20px;
}

.about-box-icon {
    position: relative;
}

.about-box-icon img {
    display: none;
    position: absolute;
}

.about-text {
    padding: 1em;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 30px;
    left: calc(50% - 161px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

.about-text-title {
    font-size: 24;
    font-weight: 500;
    text-align: center;
}


/* ShopNow*/

.shopNow {
    position: relative;
}

.shopNow-img {
    width: 100vw;
}

.shopNow-img img {
    height: 100%;
    width: 100%;
}

.shopNow-Textbox {
    position: absolute;
    z-index: 2;
    top: 40px;
    color: wheat;
    text-align: center;
    width: 240px;
    left: calc(50% - 120px);
}

.shopNow-btn {
    position: absolute;
    width: 150px;
    bottom: 35px;
    left: calc(50% - 75px);
}

.shopNow-btn a {
    background-color: var(--darkblue);
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.shopNow-btn a:hover {
    background-color: wheat;
    color: #000000;
    font-weight: bolder;
}


/* /shopNow*/


/* animation */



#container {
    
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.2px);
}
#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 40pt;

    text-align: center;

    user-select: none;
}

/* midsection */

.midsection {
    background-color: var(--fontcolor);
    height: 14vh;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    border-right: 0.15em solid;
    border-color: var(--lightgrey);
    animation: blink 0.75s step-end infinite;
    width: max-content;
    font-size: 2em;
    color: #efe9e4;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.25em;
    padding: 5px;
  }
  
  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--strongviolet);
    }
  }


/*testimonials*/

.testimonials {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1548365328-8c6db3220e4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"   );
    background-position: center;
    background-size: cover;
}

.testimonial-container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px #82869a;
    background-color: #efe9e4;
    text-align: center;
    border-radius: 0.75em;
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-top: 1em;
}

.profile-img {
    height: 5em;
    clip-path: circle(28px at center);
}

.name {
    font-weight: bold;
    font-size: 15px;
}

.description {
    margin: 9px 2rem;
    font-size: 13px;
}

.stars {
    border: none;
    font-size: 1em;
    font-weight: bold;
}

.stars i {
    color: var(--strongviolet);
    font-size: 1em;
}

.stars .emptystar {
    font-size: 1em;
}

@media only screen and (max-width: 295px) {
    /*WELCOME BOX STYLES*/
    .welcome-box {
        height: 400px;
    }
    .welcome-title {
        font-size: 30px;
        top: 11px;
    }
}

@media only screen and (min-width: 295px) {
    /*WELCOME BOX STYLES*/
    .welcome-box {
        height: 550px;
    }
    .welcome-title {
        font-size: 40px;
        top: 0px;
    }
}

@media screen and (min-width: 500px) {
    .shopNow-Textbox {
        top: 90px;
        width: 300px;
        left: calc(50% - 150px);
    }
    .shopNow-Textbox h1 {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 768px) {
    /*WELCOME BOX STYLES*/
    .welcome-box {
        height: 650px;
    }
    .welcome-title {
        font-size: 50px;
        top: 45px;
    }
    .learn-more {
        top: 300px;
    }
    /*ABOUT US STYLES*/
    .about-box {
        height: 450px;
    }
    .about-text {
        height: 360px;
        width: 329px;
        left: 51vw;
    }
    .about-text-title {
        font-size: 26px;
    }
    .about-text-paragraph {
        font-size: 18px;
    }
    .about-box-icon img {
        display: block;
        width: 420px;
        top: 4vh;
        left: calc(50% - 470px);
    }
    /*testimonials*/
    .testimonials {
        flex-direction: row;
    }
    .testimonial-container {
        margin: 1em;
        margin-left: 2em;
    }

   /* animation */

   #text1,
#text2 {
    font-size: 60pt;
    padding-top: 10px;
}
    /* shopNow +992px Styles*/
    .shopNow {
        position: relative;
        width: 100%;
        height: 566px;
        background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient( 45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient( -45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
        background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
        background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    }
    .shopNow-img {
        position: absolute;
        width: 360px;
        left: calc(50% - 368px);
        top: 30px;
    }
    .shopNow-img img {
        border-radius: 22px;
    }
    .shopNow-Textbox {
        position: absolute;
        color: var(--lightgrey);
        left: 56vw;
        font-size: 18px;
        top: 53px;
        width: 306px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 21px;
    }
    .shopNow-btn {
        bottom: 120px;
        left: calc(56vw - -14px);
        width: 317px;
    }
    .shopNow-btn a {
        font-size: 2.5em;
        color: var(--lightgrey);
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@media only screen and (min-width: 1200px) {
    /*WELCOME BOX STYLES*/
    .welcome-box {
        height: 700px;
    }
    .welcome-title {
        font-size: 80px;
    }
    .learn-more {
        top: 400px;
        left: calc(50% - 95px);
    }
    /*ABOUT US STYLES*/
    .about-box {
        height: 570px;
    }
    .about-text {
        height: 454px;
        width: 400px;
    }
    .about-text-title {
        font-size: 36px;
    }
    .about-text-paragraph {
        font-size: 22px;
    }
    .about-box-icon img {
        width: 450px;
        left: calc(50% - 516px);
    }
    .shopNow-img {
        left: calc(50% - 411px);
    }
    /* testimonials */
    .testimonial-container {
        width: 300px;
        height: 300px;
    }
    .profile-img {
        margin-top: 1em;
        clip-path: circle(28px at center);
    }
    .name {
        font-size: 22px;
    }
    .description {
        margin: 21px 2rem;
        font-size: 18px;
    }
}

@media only screen and (min-width: 2000px) {
    /*ABOUT US STYLES*/
    .about-text {
        height: 492px;
        width: 480px;
        left: 51vw;
    }
    .about-text-paragraph {
        font-size: 26px;
    }
    .about-box {
        background-position: center;
    }
    .about-box-icon img {
        left: calc(50% - 590px);
        top: 6vh;
    }
    .shopNow-img {
        left: calc(50% - 490px);
    }
    .learn-more {
        top: 571px;
        font-size: 23px;
        left: calc(50% - 152px);
    }
}

/* about */

.about-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efe9e4;
  }
  .about-section {
    background: url('https://images.unsplash.com/photo-1585653621032-a5fec164ee92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZG9udXRzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60') no-repeat left;
    background-size: 55%;
    background-color: #efe9e4;
    overflow: hidden;
    padding: 100px 0;
  }
  .inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
  }
  .inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
  }
  .text {
    font-size: 2em;
    font-weight: 700;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
  }
  .skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
  }

/* slider */


.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
    margin-bottom: 20px;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.slider .item {
    animation-name: fade;   
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}
  
@media screen and (max-width:1200px){
     
    .inner-container {
      padding:80px;
    }
    
 }
 
 
 
  @media screen and (max-width:1000px){
    
    .about-section {
      background-size:100%;
      padding:100px  40px;
    }
    
    .inner-container {
      width:70%;
    }
    
 }
 
 
  @media screen and (max-width:600px){
    
    .about-section {
      padding:0;
    }
    
    .inner-container {
      padding:60px;
    }
    
    
 }


 @media screen and (max-width: 1200px) {
    .inner-container {
      padding: 70px;
    }
  }
  @media screen and (max-width: 1000px) {
    .about-section {
      background-size: 100%;
      padding: 100px 40px;
    }
    .inner-container {
      width: 70%;
    }
  }
  @media screen and (max-width: 600px) {
    .about-section {
      padding: 0;
    }
    .inner-container {
      padding: 50px;
    }
  }