@import url(_colorpalette.css);
@import url(_nav.css);
@import url(_footer.css);
@import url(_products.css);

/* WELCOME BOX STYLES*/

.welcome-box {
    width: 100vw;
    position: relative;
    background-size: cover;
    background-image: url("/images/Welcome-bg.jpg");
    background-position: center center;
    text-align: center;
}

.welcome-title {
    position: absolute;
    width: 100%;
    font-weight: 800;
    font-size: 40px;
    color: #eb9ac0;
    top: -10px;
    text-shadow: 3px 5px 2px #474747;
    font-family: "Pacifico";
}

.welcome-btn {
    position: absolute;
    width: 140px;
    left: calc(50% - 70px);
}

.welcome-btn a {
    top: 330px;
    background-color: var(--darkblue);
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.58);
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.welcome-btn a:hover {
    background-color: rgba(126, 51, 224, 90);
}


/*BUTTON*/

button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    outline: none;
    top: 500px;
    left: calc(50% - 107px);
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid #a69cf1;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a69cf1;
    border-radius: inherit;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
    background: #ffe9e9;
    transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
    transform: translate3d(0, 0.5em, -1em);
}


/*ABOUT US STYLES*/

.fas {
    color: rgba(255, 0, 0, 0.8);
    font-size: 24px;
}

.about-text-paragraph {
    font-weight: 300;
    padding: 10px;
}

.about-box {
    position: relative;
    background-image: url("/images/About-BS1.jpg");
    width: 100vw;
    height: 400px;
    background-size: cover;
}

.about-box-icon {
    position: relative;
}

.about-box-icon img {
    display: none;
    position: absolute;
}

.about-text {
    padding: 1em;
    position: absolute;
    height: 300px;
    width: 300px;
    top: 30px;
    left: calc(50% - 161px);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

.about-text-title {
    font-size: 24;
    font-weight: 500;
    text-align: center;
}


/* ShopNow*/

.shopNow {
    position: relative;
}

.shopNow-img {
    width: 100vw;
}

.shopNow-img img {
    height: 100%;
    width: 100%;
}

.shopNow-Textbox {
    position: absolute;
    z-index: 2;
    top: 40px;
    color: wheat;
    text-align: center;
    width: 240px;
    left: calc(50% - 120px);
}

.shopNow-btn {
    position: absolute;
    width: 150px;
    bottom: 35px;
    left: calc(50% - 75px);
}

.shopNow-btn a {
    background-color: var(--darkblue);
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.shopNow-btn a:hover {
    background-color: wheat;
    color: #000000;
    font-weight: bold;
}


/* /shopNow*/


/*testimonials*/

.testimonials {
    display: flex;
    flex-wrap: row wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/images/TBG4.jpg");
    background-position: center;
    background-size: cover;
}

.testimonial-container {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px #82869a;
    background-color: white;
    text-align: center;
    border-radius: 0.75em;
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-top: 1em;
}

.profile-img {
    height: 5em;
    clip-path: circle(28px at center);
}

.name {
    font-weight: bold;
    font-size: 15px;
}

.description {
    margin: 9px 2rem;
    font-size: 13px;
}

.stars {
    border: none;
    font-size: 1em;
    font-weight: bold;
}

.stars i {
    color: var(--strongviolet);
    font-size: 1em;
}

.stars .emptystar {
    font-size: 1em;
}

@media only screen and (max-width: 295px) {
    /*WELCOME BOX STYLES*/
    .welcome-box {
        height: 400px;
    }
    .welcome-title {
        font-size: 30px;
        top: 11px;
    }
}

.welcome-btn {
    top: 350px;
    width: 140px;
    padding: 6px;
    left: calc(50% - 70px);
}

.welcome-btn a {
    font-size: 16px;
}

@media only screen and (min-width: 295px) {
    /*WELCOME BOX STYLES*/
    .welcome-box {
        height: 550px;
    }
    .welcome-title {
        font-size: 40px;
        top: 0px;
    }
    .welcome-btn {
        top: 479px;
    }
}

@media screen and (min-width: 500px) {
    .shopNow-Textbox {
        top: 90px;
        width: 300px;
        left: calc(50% - 150px);
    }
    .shopNow-Textbox h1 {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 768px) {
    /*WELCOME BOX STYLES*/
    .welcome-box {
        height: 650px;
    }
    .welcome-title {
        font-size: 50px;
        top: 45px;
    }
    .welcome-btn {
        width: 190px;
        padding: 10px;
        left: calc(50% - 95px);
    }
    .welcome-btn a {
        font-size: 22px;
    }
    /*ABOUT US STYLES*/
    .about-box {
        height: 450px;
    }
    .about-text {
        height: 360px;
        width: 329px;
        left: 51vw;
    }
    .about-text-title {
        font-size: 26px;
    }
    .about-text-paragraph {
        font-size: 18px;
    }
    .about-box-icon img {
        display: block;
        width: 420px;
        top: 4vh;
        left: calc(50% - 470px);
    }
    /*testimonials*/
    .testimonials {
        flex-direction: row;
    }
    .testimonial-container {
        margin: 1em;
        margin-left: 2em;
    }
    /* shopNow +992px Styles*/
    .shopNow {
        position: relative;
        width: 100%;
        height: 566px;
        background: radial-gradient(black 3px, transparent 4px), radial-gradient(black 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient( 45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient( -45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
        background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
        background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    }
    .shopNow-img {
        position: absolute;
        width: 360px;
        left: calc(50% - 368px);
        top: 30px;
    }
    .shopNow-img img {
        border-radius: 22px;
    }
    .shopNow-Textbox {
        position: absolute;
        color: var(--lightgrey);
        left: 56vw;
        font-size: 18px;
        top: 53px;
        width: 306px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 21px;
    }
    .shopNow-btn {
        bottom: 120px;
        left: calc(56vw - -14px);
        width: 317px;
    }
    .shopNow-btn a {
        font-size: 2.5em;
        color: var(--lightgrey);
        background-color: rgba(0, 0, 0, 0.8);
    }
}

@media only screen and (min-width: 1200px) {
    /*WELCOME BOX STYLES*/
    .welcome-box {
        height: 700px;
    }
    .welcome-title {
        font-size: 80px;
    }
    .welcome-btn {
        top: 567px;
        width: 260px;
        padding: 17px;
        left: calc(50% - 130px);
    }
    .welcome-btn a {
        font-size: 32px;
    }
    /*ABOUT US STYLES*/
    .about-box {
        height: 570px;
    }
    .about-text {
        height: 454px;
        width: 400px;
    }
    .about-text-title {
        font-size: 36px;
    }
    .about-text-paragraph {
        font-size: 22px;
    }
    .about-box-icon img {
        width: 450px;
        left: calc(50% - 516px);
    }
    .shopNow-img {
        left: calc(50% - 411px);
    }
    /* testimonials */
    .testimonial-container {
        width: 300px;
        height: 300px;
    }
    .profile-img {
        margin-top: 1em;
        clip-path: circle(28px at center);
    }
    .name {
        font-size: 22px;
    }
    .description {
        margin: 21px 2rem;
        font-size: 18px;
    }
}

@media only screen and (min-width: 2000px) {
    /*ABOUT US STYLES*/
    .about-text {
        height: 492px;
        width: 480px;
        left: 51vw;
    }
    .about-text-paragraph {
        font-size: 26px;
    }
    .about-box {
        background-position: center;
    }
    .about-box-icon img {
        left: calc(50% - 590px);
        top: 6vh;
    }
    .shopNow-img {
        left: calc(50% - 490px);
    }
}