@import url(_colorpalette.css);
@import url(_nav.css);
@import url(_footer.css);


  body{
    font-family: "Poppins", sans-serif;
    padding:0;
    margin:0;
}

main {
  display: flex;
  justify-content: center;
}

.container-profile {
  margin: 1em;
}

.container-profile > div{

  min-height: 100vh;
}

.profile-card{
  background-color: #231e39;
  color:#b3b8cd;
  border-radius: 5px;
  max-width: 350px;
  width:100%;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}

.profile-card-header{
  background-image: url('../images/formslogin/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  border-radius: 5px 5px 0 0;
  padding: 0 15px;
}

.avatar-card-photo{
  height: 120px;
  width:120px;
  border-radius: 50%;
  border: 1px solid #1f1a32;
  padding: 7px;
  background-color: #292343;
  overflow: hidden;
  transform: translateY(calc(50% + 40px));
}

.avatar-card-photo img{
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-card-body{
  padding: 0 15px 15px;
  text-align: center;
}

.profile-card-name{
  font-size: 2em;
  font-weight: 700;
  margin: 30px 0 0 90px;
}

.profile-card-name::first-letter  {
  text-transform: uppercase;
}

.profile-card-description{
  font-size: 16px;
  line-height: 21px;
  margin-top: 35px;
}

.card-button{
  margin: 10px 0 40px;
}

.card-button button:first-of-type{
  margin-right: 10px;
}

.btn{
  display: inline-block;
  padding: 10px 25px;
  border-radius: 3px;
  text-align: center;
  transition: all .5s ease;
  cursor: pointer;
}

.btn  a {
  text-decoration: none;  

}

.btn-outline-primary a {
  color: #231e39;
}

.btn-outline-primary  a{
  color: var(--lightviolet);
}

.btn-primary,
.btn-outline-primary{
  border:1px solid;
  border-color: var(--lightviolet);
}

.btn-primary,
.btn-outline-primary:hover{
  color: var(--fontcolor);
  background-color: var(--lightviolet)
}

.btn-primary:hover,
.btn-outline-primary{
  background-color: transparent;
  color: var(--lightviolet);
}


@media screen and (min-width:820px) {
  .container-profile {
    width: 30%;
  }
}