@import url(_colorpalette.css);
@import url(_nav.css);
@import url(_footer.css);

body{
    font-family: "Poppins", sans-serif;
    padding:0;
    margin:0;
}

.main-wrapper { 
  display: flex;
  flex-direction: column;
}

ol, ul {
    list-style: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
  }
  
  q, blockquote {
    quotes: none;
  }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
  }
  
  a img {
    border: none;
  }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    color: #333;
    -webkit-font-smoothing: antialiased;
  }
  
  
  
  .cf:before, .cf:after {
    content: " ";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    *zoom: 1;
  }
  
  .checkoutWrapper {
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5% 0;
    margin-bottom: 5em;
  }
  
  .projTitle {
    
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 1em 0;
    border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .projTitle span {
 
    font-weight: normal;
    font-style: italic;
    text-transform: lowercase;
    color: #777;
  }
  
  .heading {
    padding: 1em 0;
    border-bottom: 1px solid #D0D0D0;
  }
  .heading h1 {
    
    font-size: 2em;
    float: left;
  }

  /* empty cart */

  .empty-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .empty-cart img {
    width: 40%;
  }

  .empty-cart a.continue {
    height: 40px;
    text-decoration: none;
    letter-spacing: -.015em;
    font-size: .75em;
    padding: 1em;
    color: #fff;
    background:  linear-gradient(
      to right,
      #6480ef,
      #7775e8,
      #806ce8);
    float: right;
    text-align: right;
    transition: all 0.25s linear;
  }
  
  .heading a.continue:link, .heading a.continue:visited {
    text-decoration: none;
    letter-spacing: -.015em;
    font-size: .75em;
    padding: 2em;
    color: #fff;
    background:  linear-gradient(
      to right,
      #6480ef,
      #7775e8,
      #806ce8);
    float: right;
    text-align: right;
    transition: all 0.25s linear;
  }
  .heading a.continue:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
  }
  .heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
    background: #231e39;
  }
  .heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
    right: -10px;
  }
  
  .tableHead {
    display: table;
    width: 100%;
    font-size: .75em;
  }
  .tableHead li {
    display: table-cell;
    padding: 1em 0;
    text-align: center;
  }
  .tableHead li.prodHeader {
    text-align: left;
  }
  
  .cart {
    padding: 1em 0;
 
  }
  .cart .items {
    display: block;
    width: 100%;
    padding: 1.5em;
    border-bottom: 1px solid #fafafa;
  }
  .cart .items.even {
    background: #fafafa;
  }
  .cart .items .infoWrap {
    display: table;
    width: 100%;
  }
  .cart .items .cartSection {
    display: table-cell;
    vertical-align: middle;
  }
  .cart .items .cartSection .itemNumber {
    font-size: .75em;
    color: #777;
    margin-bottom: .5em;
  }
  .cart .items .cartSection h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;
  }
  .cart .items .cartSection p {
    display: inline-block;
    font-size: .85em;
    color: #777777;
    
  }
  .cart .items .cartSection p .quantity {
    font-weight: bold;
    color: #333;
  }
  .cart .items .cartSection p.stockStatus {
    color: #82CA9C;
    font-weight: bold;
    padding: .5em 0 0 1em;
    text-transform: uppercase;
  }
  .cart .items .cartSection p.stockStatus.out {
    color: #F69679;
  }

  .cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
    text-align: center;
  }
  .cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal p {
    font-weight: bold;
    font-size: 1.25em;
  }
  .cart .items .cartSection input.qty {
    width: 2em;
    text-align: center;
    font-size: 1em;
    padding: .25em;
    margin: 1em .5em 0 0;
  }

  .special {
    display: block;
  }
  .special .specialContent {
    padding: 1em 1em 0;
    display: block;
    margin-top: .5em;
    border-top: 1px solid #dadada;
  }
  .special .specialContent:before {
    content: "\21b3";
    font-size: 1.5em;
    margin-right: 1em;
    color: #6f6f6f;
  }
  
  button.remove {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background: #95a5a6;
    padding: .5em;
    font-size: .75em;
    display: inline-block;
    border-radius: 100%;
    line-height: .85;
    border: none;
    transition: all 0.25s linear;
    cursor: pointer;
  }
  button.remove:hover {
    background: #f30;
  }
  
  .promoCode {
    border: 2px solid #efefef;
    float: left;
    width: 35%;
    padding: 2%;
  }
  .promoCode label {
    display: block;
    width: 100%;
    font-style: italic;
    font-size: 1.15em;
    margin-bottom: .5em;
    letter-spacing: -.025em;
  }
  .promoCode input {
    width: 85%;
    font-size: 1em;
    padding: .5em;
    float: left;
    border: 1px solid #dadada;
  }
  
  .btn:link, .btn:visited {
    text-decoration: none;
    letter-spacing: -.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: linear-gradient(
      to right,
      #6480ef,
      #7775e8,
      #806ce8);
    font-weight: bold;
    float: right;
    text-align: right;
    transition: all 0.25s linear;
  }
  .btn:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
    transition: all 0.15s linear;
  }
  .btn:hover, .btn:focus, .btn:active {
    background: #231e39;
  }
  .btn:hover:after, .btn:focus:after, .btn:active:after {
    right: -10px;
  }
  .promoCode .btn {
    font-size: .85em;
    padding: .5em 2em;
  }
  
  /* TOTAL AND CHECKOUT  */
  .subtotal {
    float: right;
    width: 100%;
  }

  .subtotal .totalRow {
    padding: .5em;
    text-align: right;
  }
  .subtotal .totalRow.final {
    font-size: 1.25em;
    font-weight: bold;
  }
  .subtotal .totalRow span {
    display: inline-block;
    padding: 0 0 0 1em;
    text-align: right;
  }
  .subtotal .totalRow .label {
    font-size: .85em;
    text-transform: uppercase;
    color: #777;
  }
  .subtotal .totalRow .value {
    letter-spacing: -.025em;
    width: 35%;
  }
  
  @media only screen and (max-width: 39.375em) {
    .checkoutWrapper {
      width: 98%;
      padding: 2% 0;
    }
  
    .projTitle {
      font-size: 1.5em;
      padding: 10% 5%;
    }
  
    .heading {
      padding: 1em;
      font-size: 90%;
    }
  
    .cart .items .cartSection {
      width: 90%;
      display: block;
      float: left;
    }
    .cart .items .cartSection.qtyWrap {
      width: 10%;
      text-align: center;
      padding: .5em 0;
      float: right;
    }
    .cart .items .cartSection.qtyWrap:before {
      content: "QTY";
      display: block;
      padding: .25em;
      font-size: .75em;
    }
    .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
      display: none;
    }
 
  
    .promoCode, .subtotal {
      width: 100%;
    }
  
    a.btn.continue {
      width: 100%;
      text-align: center;
    }
  }
  

  /* start of payment  */

  .mainContainer {
    height: 590px;
    margin: 0 auto;
    box-shadow:0 0 10px #2323;
    margin-top: 50px;
    background:white;
  }
  .cardHolder {
    height: 300px;
    background: linear-gradient(
      to right,
      #6480ef,
      #7775e8,
      #806ce8
    ); 
  /*   border-bottom-left-radius:50%;
    border-bottom-right-radius:50%; */
  }
  .center{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .vcenter{
    display:flex;
    align-items:center;
  }
  .heading{
    height:40px;
    font-size:14px;
    letter-spacing:2px;
    color:white;
  }
  .stepHeading{
    height:20px;
    font-size:16px;
    font-weight:bolder;
    letter-spacing:2px;
    color:white;
  }
  .card{
    height:180px;
    width:280px;
    background:white;
    margin:0 auto;
    border-radius:1.2em;
    margin-top:25px;
    padding:12px 20px;
  }
  .card > .part{
    height:50px;
    margin-bottom:4px;
  }
  .card > .top{
    display:flex;
    justify-content:flex-end;
  }
  .card > .top > img{
    height:30px;
  }
  .infoheader{
    height:20px;
    font-size:11px;
    font-weight:bold;
    letter-spacing:2px;
    color:#95a5a6
  }
  .card > .middle > .infocontent{
    justify-content:space-between;
    height:30px;
  }
  .number{
    width:150px;
  }
  .card > .middle > .infocontent > .num{
    height:25px;
    font-size:14px;
    letter-spacing:2px;
    font-weight:bolder;
  }
  .card > .bottom{
    display:flex;
    justify-content:space-between
  }
  .holderInfo{
    width:150px;
  }
  .holderInfo > .name,.expDate > .date{
    font-size:12px;
    font-weight:bolder;
    letter-spacing:2px;
  }
  .status{
    height:35px;
    width:300px;
    margin:0 auto;
    box-shadow:0 0 10px #2323; 
    margin-top:16px;
    padding:0 16px;
    font-size:12px;
    letter-spacing:2px;
    font-weight:bolder;
  }
  .status > i{
    color:#16a085;
    margin-right:20px;
    font-size:16px;
  }
  h5{
    width:220px;
    margin:0 auto;
    padding:8px;
    margin-top:14px;
    border-bottom:2px solid #bdc3c7;
    letter-spacing:2px;
    font-size:12px;
    margin-bottom:12px;
  }
  .options{
    width:250px;
    height:75px;
    margin:0 auto;
    justify-content:space-between;
  }
  .options > .opt{
    height:75px;
    width:75px;
    box-shadow:0 0 10px #2323; 
    border-radius:5px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    cursor: pointer;
  }
  .options > .opt > .icon{
    height:30px;
    color:#95a5a6;
    font-size:20px;
  }
  .optname{
    height:30px;
    font-size:10px;
    color:#232323;
    letter-spacing:2px;
    font-weight:bolder
  }
  .payment{
    height:80px;
    position:relative;
    top: 24px;
    box-shadow: 0 -5px 5px -5px #2323;
    justify-content:space-around;
  }
  .val{
    height:40px;
    font-size:24px;
    font-weight:bolder;
    letter-spacing:2px;
    color:#6480ef;
  }
  .button{
    width:120px;
    height:35px;
    border: none;
    border-radius:1.2em;
    background:linear-gradient(
      to right,
      #6480ef,
      #7775e8,
      #806ce8
    ); 
    color:white;
    font-weight:bolder;
    letter-spacing:2px;
    cursor: pointer;
  }

  @media only screen and (min-width: 768px)  {
    .main-wrapper {
      flex-direction: row;
      margin-right: 2em;
    }

    .checkoutWrapper {
      margin: 2em;
    }

    .mainContainer {
      margin-top: 12em;
      margin-bottom: 5em;
    }

    .cardHolder {
      margin-right: 4px;
    }
  }