   <li class="items">
    <div class="infoWrap"> 
        <div class="cartSection">
            <img src="<%- product.image %>" alt="" class="itemImg" />
            <p class="itemNumber"></p>
            <h3><%-product.productName</h3>
            <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>
            <p class="stockStatus"> Stock</p>
        </div>  
        <div class="prodTotal cartSection">
            <p>$15.00</p>
        </div>
        <div class="cartSection removeWrap">
            <a href="#" class="remove"><i class="fas fa-trash"></i></a>
        </div>
    </div>
</li>