<div class="card">
    <div class="card-imagebox">
      <a href="/product/<%- product.id %> "><img src="<%- product.image %> " class="card-img-top" alt="<%- product.name %> "></a>
    </div>
    <div class="product-card-body">
      <h5 class="product-card-title"><%- product.productName %> </h5>
      <a href="#" class="product-card-btn">Agregar al carrito</a>
    </div>
  </div>